#heade1{
    display: flex;
    justify-content: space-evenly;
}
.abt{
    color: rgb(0, 0, 0);
    font-weight: inherit;
    margin-top: 15px;
    margin-bottom: 20px;
}
.ab{
    text-align: center;
    color: rgb(223, 102, 54);
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 30px;
}